body {

  background: linear-gradient(135deg, #1D1D1D, #222); 
  color: white;
  font-family: 'Poppins', sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.login-card {
  background-color: #222;
  border-radius: 20px;
  padding: 40px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.login-card h2 {
  color: #fff;
}

.login-card .btn-primary {
  background: linear-gradient(90deg, #6e0dff, #3a2edb);
  border: none;
  width: 100%;
}

.btn-primary:hover {
  background: linear-gradient(90deg, #5a0ad4, #3025b1);
}

input {
  color: white !important;
  background-color: #333 !important;
  border: none !important;
  border-radius: 10px;
  padding: 10px;
}
input::placeholder{
  color: white !important;
}

input:focus {
  outline: none;
  box-shadow: 0px 0px 4px 2px #6e0dff;
}
.form-select{
  color: white !important;
  background-color: #333 !important;
  border: none !important;
  border-radius: 10px;
  padding: 10px;
}
label {
  color: #aaa;
}
.signup-card{
  background-color: #1D1D1D !important;
}

